<!DOCTYPE html>
<html lang="{{site.lang}}">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-KVMHR55');</script>
    
    <!-- Global site tag (gtag.js) - Google Ads -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10877229030"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}; gtag('js', new Date()); gtag('config', 'AW-10877229030');</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% include favico.html %}

    <script src="https://kit.fontawesome.com/0271b46f6e.js" crossorigin="anonymous" defer></script>

    <!--link rel="stylesheet" href="{{ "/assets/css/open-iconic-bootstrap.min.css" | prepend: site.baseurl_root }}" rel="preload" />
    <link rel="stylesheet" href="{{ "/assets/css/animate.css" | prepend: site.baseurl_root }}" rel="preload" />
    <link rel="stylesheet" href="{{ "/assets/css/owl.carousel.min.css" | prepend: site.baseurl_root }}" />
    <link rel="stylesheet" href="{{ "/assets/css/owl.theme.default.min.css" | prepend: site.baseurl_root }}" />
    <link rel="stylesheet" href="{{ "/assets/css/magnific-popup.css" | prepend: site.baseurl_root }}" />
    <link rel="stylesheet" href="{{ "/assets/css/aos.css" | prepend: site.baseurl_root }}" />
    <link rel="stylesheet" href="{{ "/assets/css/ionicons.min.css" | prepend: site.baseurl_root }}" />
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap-datepicker.css" | prepend: site.baseurl_root }}" />
    <link rel="stylesheet" href="{{ "/assets/css/jquery.timepicker.css" | prepend: site.baseurl_root }}" />
    <link rel="stylesheet" href="{{ "/assets/css/flaticon.css" | prepend: site.baseurl_root }}" />
    <link rel="stylesheet" href="{{ "/assets/css/icomoon.css" | prepend: site.baseurl_root }}" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl_root }}" /-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800&display=swap" />
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="https://unpkg.com/aos@2.3.1/dist/aos.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="{{ "/assets/css/open-iconic-bootstrap.min.css" | prepend: site.baseurl_root }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="{{ "/assets/css/animate.css" | prepend: site.baseurl_root }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="{{ "/assets/css/continuous-carousel.min.css" | prepend: site.baseurl_root }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" />
      <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
      <link rel="stylesheet" href="{{ "/assets/css/open-iconic-bootstrap.min.css" | prepend: site.baseurl_root }}" />
      <link rel="stylesheet" href="{{ "/assets/css/animate.css" | prepend: site.baseurl_root }}" />
      <link rel="stylesheet" href="{{ "/assets/css/continuous-carousel.min.css" | prepend: site.baseurl_root }}" />
    </noscript>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl_root }}" />

    {% include seo.html %}
    <meta name="keywords" content="{{ site.keywords }}" />
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KVMHR55" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  
  <!-- RD Station -->
  <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/698f6591-efa7-422d-8172-6b21d0315f3e-loader.js" ></script>

  {% include nav.html %}

  {% if page.url == "/" or current[1] == "" %}
    {% include header-home.html %}
  {% else %}
    {% include header.html %}
  {% endif %}

  {{ content }}
    
  {% include footer.html %}
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.1.0.min.js" integrity="sha256-ycJeXbll9m7dHKeaPbXBkZH8BuP99SmPm/8q5O+SbBc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.11.2/jquery.mask.min.js" integrity="sha512-Y/GIYsd+LaQm6bGysIClyez2HGCIN1yrs94wUrHoRAD5RSURkqqVQEU6mM51O90hqS80ABFTGtiDpSXd2O05nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js" integrity="sha512-g2PN+aYR0KupTVwea5Ppqw4bxWLLypWdd+h7E0ydT8zF+/Y2Qpk8Y1SnzVw6ZCVJPrgB/91s3VfhVhP7Y4+ucw==" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha512-ahmSZKApTDNd3gVuqL5TQ3MBTj8tL5p2tYV05Xxzcfu6/ecvt1A0j6tfudSGBVuteSoTRMqMljbfdU0g2eDNUA==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js" integrity="sha512-oy0NXKQt2trzxMo6JXDYvDcqNJRQPnL56ABDoPdC+vsIOJnU+OLuc3QP3TJAnsNKXUXVpit5xRYKTiij3ov9Qg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js" integrity="sha512-PNXCBnFH9wShbV+mYnrfo0Gf3iSREgBWmYAoMIfc+Z83vVq3Nu4yxBk6j+BZ40ZIhtW3WlTQdBvW3AYLAnlgpA==" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!--script src="{{ '/assets/js/jquery.min.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/jquery-migrate-3.0.1.min.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/popper.min.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/jquery.easing.1.3.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/jquery.waypoints.min.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/jquery.stellar.min.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/owl.carousel.min.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/jquery.magnific-popup.min.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/aos.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/jquery.animateNumber.min.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/bootstrap-datepicker.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/jquery.timepicker.min.js' | prepend: site.baseurl_root }}"></script-->
  <script src="{{ '/assets/js/continuous-carousel.min.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/main.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/contact.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/plans.js' | prepend: site.baseurl_root }}"></script>
  <script src="{{ '/assets/js/home.js' | prepend: site.baseurl_root }}"></script>

  <!--script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="4f08bc63-d0d5-4383-afe1-94375a7babb5{% if jekyll.environment == 'development' %}-test{% endif %}" ></script>
  <script type="text/javascript">function OptanonWrapper() { }</script-->
  <script type="text/javascript">
    $(function() {
      var SPMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
      },
      spOptions = {
        onKeyPress: function(val, e, field, options) {
            field.mask(SPMaskBehavior.apply({}, arguments), options);
          }
      };
      $('.phone').mask(SPMaskBehavior, spOptions);
    });
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(88907952, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
  });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/88907952" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</body>

</html>
